<%# Floating flash messages - top center %>
<div id="flash_messages" class="fixed top-4 left-1/2 -translate-x-1/2 z-[60] space-y-2 pointer-events-none w-full max-w-md px-4" data-turbo-temporary>
  <% flash.each do |type, message| %>
    <%= render 'shared/flash_message', type: type, message: message %>
  <% end %>
</div>
